<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/TempuraSoba.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">well come to</div>
      <div class="text-center">
        <h3>Kivi Tasry Food</h3>
      </div>

      <div class="text-center">@Kivi Food LLD</div>
      <!-- <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div> -->
    </div>
  </div>
</div>
